body {
    display: flex;
    background-color: rgb(238, 238, 238);
    flex-direction: column;
    align-content: center;
    height: 96vh;
}
h2 {
    padding: 0;
    margin: 0;
}
.card {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 400px;
    height: 100px;
    padding: 1em;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px grey;
}
